.mynav{
    height: 10vh;
}
.navbtn{
    height: 100%;
}
.myhero{
    background-color: #d6d6d6;
    min-height: 100vh;
    height: auto;
}
.myhero2{
    display: flex;
    align-items: center;
    background-color: #d6d6d6;
    min-height: 100vh;
    height: auto;
}
.mywrap{
    width: 100%;
    height: 100%;
    position: relative;
}
.stikyfooter{
    width: 100%;
    height: 5vh;
    background-color: rgb(52, 58, 64);
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0px;
}
.stikyheader{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 99;
}